Repository dotnet/issue-labeler, pull requests merged in 2025-03, with the labels that each got.

#85 Pin all workflows to the SHA for the v1.0.0 release
  .github/workflows/labeler-build-predictor.yml
  .github/workflows/labeler-cache-retention.yml
  .github/workflows/labeler-predict-issues.yml
  .github/workflows/labeler-predict-pulls.yml
  .github/workflows/labeler-promote.yml
  .github/workflows/labeler-train.yml
  .github/workflows/train.yml
Labels: area-Workflows

#90 Staging the v1.0.1 release (step 2)
  .github/workflows/train.yml
Labels: area-Workflows

#91 Upgrade workflows to issue-labeler v1.0.1
  .github/workflows/labeler-build-predictor.yml
  .github/workflows/labeler-cache-retention.yml
  .github/workflows/labeler-predict-issues.yml
  .github/workflows/labeler-predict-pulls.yml
  .github/workflows/labeler-promote.yml
  .github/workflows/labeler-train.yml
Labels: area-Workflows

#94 Add retry/error handling to the Predictor
  src/Downloader/Args.cs
  src/GitHubClient/GitHubApi.cs
  src/Predictor/Args.cs
  src/Predictor/Predictor.cs
  src/Tester/Args.cs
  src/Trainer/Args.cs
Labels: area-Predictor

#96 Ignore pulls and issues if author in excluded list
  .github/copilot-instructions.md
  .github/workflows/build.yml
  Directory.Build.props
  Directory.Packages.props
  IssueLabeler.sln
  src/Common/ArgUtils.cs
  src/Common/DataFileUtils.cs
  src/Directory.Build.props
  src/Downloader/Args.cs
  src/Downloader/Downloader.cs
  src/GitHubClient/GitHubApi.cs
  src/GitHubClient/QueryModel.cs
  src/Predictor/Args.cs
  src/Predictor/Predictor.cs
  src/Tester/Args.cs
  src/Tester/Tester.cs
  testEnvironments.json
  tests/Shared.Tests/ArgUtilsTests.cs
  tests/Shared.Tests/DataFileUtilsTests.cs
  tests/Shared.Tests/Shared.Tests.csproj
Labels: area-Meta
